{% extends "index.html" %}
{% load static %}
{% block content %}
<div class="mt-2 col-md-12 row">
  <div class="col-xs-12">
      ID: <br>
      Linia: <br>
      Klasa: <br>
      Liczba biletów: <br>
      Cena: <br>
      Cena offerty: <br>
      Kontrahent: <br>
      Szczegóły: <br>
      Notatki: <br>
  </div>
  <div class="col-xs-12 ml-5">
    {{ object.id }}<br>
    {{ object.airline }}<br>
    {{ object.get_ticket_class_display }}<br>
    {{ object.quantity }}<br>
    {{ object.price_net }} {{ object.net_currency }}<br>
    {{ object.price_offer }} {{ object.offer_currency }}<br>
    {{ object.counterparty }}<br>
    {{ object.ticket_details }}<br>
    {{ object.extra_notes }}<br>
  </div>
</div>
<script src={% static "js/tabs.js" %}></script>
<script src={% static "js/app.js" %}></script>
{% endblock %}