<div class="mt-4">
<table class="table table-striped" id="clientsTable">
  <thead>
    <tr>
      <th scope="col" style="width: 10%">Umowa</th>
      <th scope="col">Data zawarcia</th>
      <th scope="col">Właściciel</th>
      <th scope="col">Data od</th>
      <th scope="col">Data do</th>
      <th scope="col">Pozostali uczestnicy</th>
    </tr>
  </thead>
  <tbody>
  {% for contract in object.contract_set.all %}
    <tr>
      <td style="width: 10%"><a href="/reservation/umowy/{{ contract.id }}">{{ contract.id }}</a></td>
      <td>{{ contract.date_of_contract }}</td>
        <td><a href="/reservation/klienci/{{ contract.owner.id }}">{{ contract.owner }}</a></td>
      <td>{{ contract.get_dates.0|date:"Y-m-d" }}</td>
      <td>{{ contract.get_dates.1|date:"Y-m-d" }}</td>
      <td>
        {% for client in contract.client.all %}
          {% if client != contract.owner %}
            <a href="/reservation/klienci/{{ client.id }}">{{ client }}</a>
          {% endif %}
        {% endfor %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{#    {% for contract in object.contract_set.all %}#}
{#        <a href="/reservation/umowy/{{ contract.id }}">Umowa numer {{ contract.id }} - {% for item in contract.contractroom_set.all %}{{ item.room.name }} {% endfor %}#}
{#            <br></a>#}
{#    {% endfor %}#}
</div>