{% extends "index.html" %}
{% block content %}
{% load static %}
<div class="mt-4">
    <a href="{% url 'villa_create' %}" class="btn btn-info active" role="button" aria-pressed="true">Dodaj nowy hotel</a>
</div>
<div class="mt-4">
    <table class="table table-striped" id="listTable">
        <thead>
            <tr>
                {% for column in columns %}
                    <th scope="col">{{ column }}</th>
                {% endfor %}
                <th scope="col">Operacje</th>
            </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            <tr>
                <td>
                    {{ object.name }}
                </td>
                <td>
                    {{ object.size }}
                </td>
                <td>
                    {{ object.rooms_no }}
                </td>
                <td>
                    {{ object.region.country.continent }}
                </td>
                <td>
                    {{ object.region.country }}
                </td>
                <td>
                    {{ object.region }}
                </td>
                <td>
                    <a href="{{ object.get_delete_url }}"
                       class="btn btn-secondary active btn-sm"
                       role="button"
                       aria-pressed="true">
                        usuń
                    </a>
                    <a href="{{ object.get_update_url }}"
                       class="btn btn-secondary active btn-sm"
                       role="button"
                       aria-pressed="true">
                        edytuj
                    </a>
                    <a href="{{ object.get_detail_url }}"
                       class="btn btn-secondary active btn-sm"
                       role="button"
                       aria-pressed="true">
                        szczegóły
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}