{% extends "index.html" %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-auto bg-white">
        <p class="mb-0">ID kontraktu:</p>
        <p class="mb-0">Umowa nr:</p>
        <p class="mb-0">Cena offer:</p>
        <p class="mb-0">Data zawarcia:</p>
        <p class="mb-0">Data rozpoczęcia:</p>
        <p class="mb-0">Data zakończenia:</p>
        <p class="mb-0">Termin płatności:</p>
        <p class="mb-0">Zamawiający:</p>
    </div>
    <div class="col-auto bg-white">
        <p class="mb-0">{{ object.id }}&nbsp</p>
        <p class="mb-0">{{ object.name }}&nbsp</p>
        <p class="mb-0">
            {% for k, v in object.get_all_prices.items %}
                {{ v }} {{ k }}
            {% endfor %}
        <p class="mb-0">{{ object.date_of_sign|date:"Y-m-d" }}&nbsp;</p>
        <p class="mb-0">
            {% if not object.get_dates.0 == 0 %}
                {{ object.get_dates.0|date:"Y-m-d" }}
            {% endif %}
        &nbsp;</p>
        <p class="mb-0">
            {% if not object.get_dates.1 == 0 %}
                {{ object.get_dates.1|date:"Y-m-d" }}
            {% endif %}
        &nbsp;</p>
        <p class="mb-0">{{ object.payment_deadline|date:"Y-m-d" }}&nbsp;</p>
        <p class="mb-0"><a href="{% url 'client_details' id=object.owner.id %}">{{ object.owner }}</a></p>
    </div>
    <div class="col-2 bg-white border-left">
        <p>Poszczególne ceny: </p>
            <p>{% for key, value in object.get_price_dict.items %}
                {{ key }}:
                {% for k, v in value.items %}
                    {{ v }} {{ k }}
                {% endfor %}<br>
            {% endfor %}</p>
    </div>
    <div class="col-2 bg-white border-left">
        <p>Polityka rezygnacji: </p>
        {{ object.cancellation_policy|linebreaks }}
    </div>
    <div class="col-2 bg-white border-left">
        <p>Polityka płatności: </p>
        {{ object.payment_policy|linebreaks }}
    </div>
    <div class="col-auto bg-white border-left">
        <p>Pozostało do zapłaty: </p>
            {% for k, v in object.to_pay.items %}
                {{ v }} {{ k }}
            {% endfor %}
    </div>
</div>
    <div class="mt-4">
        <p>Uczestnicy:
        {% for client in object.client.all %}
            <a href="{% url 'client_details' id=client.id %}">{{ client }}</a>
        {% endfor %}
        </p>
    </div>
    <div class="mt-4">
        <p>Pliki:
        {% for file in files %}
            <a href="{% url 'download' id=file.id %}">{{ file }}</a>
        {% endfor %}
        </p>
    </div>
<div class="container-fluid">
{#    <button type="submit" class="btn btn-primary" value='' onclick="location.href='#}
{#            {% url 'downloadfile' id=object.id%}'" name='mybtn2'>Umowa - Excel#}
{#    </button>#}
{# <button type="submit" value='docs/test.xlsx' onclick="location.href='{% url 'downloadfile' id=object.id %}'" name='mybtn2'>Download Excel file</button>#}
{#<a href="{%url 'create_contract' id=object.id %}" target="_blank" onclick="window.open({%url 'downloadfile' id=object.id %})";>Click Here</a>#}
    <div class="row mt-4">
        <a href="{% url 'contract_room_create' id=object.id %}"
           class="btn btn-info active col mr-1"
           role="button"
           aria-pressed="true">Rezerwuj pokój
        </a>
        <a href="{% url 'contract_villa_create' id=object.id %}"
           class="btn btn-info active col mr-1"
           role="button"
           aria-pressed="true">Rezerwuj willę
        </a>
        <a href="{% url 'contract_train_create' id=object.id %}"
           class="btn btn-info active col mr-1"
           role="button"
           aria-pressed="true">Rezerwuj pociąg
        </a>
        <a href="{% url 'contract_ticket_create' id=object.id %}"
           class="btn btn-info active col mr-1"
           role="button"
           aria-pressed="true">Dodaj bilet
        </a>
        <a href="{% url 'contract_insurance_create' id=object.id %}"
           class="btn btn-info active col mr-1"
           role="button"
           aria-pressed="true">Dodaj ubzepieczenie
        </a>
        <a href="{% url 'contract_other_create' id=object.id %}"
           class="btn btn-info active col mr-1"
           role="button"
           aria-pressed="true">Dodaj inną usługę
        </a>
        <a href="{% url 'payment_create' id=object.id %}"
           class="btn btn-info active col mr-1"
           role="button"
           aria-pressed="true">Dodaj wpłatę
        </a>
        <a href="{% url 'uploadfile' id=object.id%}"
           class="btn btn-info active col mr-1"
           role="button"
           aria-pressed="true">Dodaj plik
        </a>
        <a href="{% url 'downloadfile' id=object.id%}"
           class="btn btn-secondary active col mr-1"
           role="button"
           aria-pressed="true">Drukuj umowę
        </a>
    </div>
</div>
<div class="container-fluid">
    <div class="mt-4">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button
                    class="nav-link active" id="tab-rooms" data-bs-toggle="tab" data-bs-target="#rooms"
                    type="button" role="tab" aria-controls="rooms" aria-selected="true">Pokoje
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button
                    class="nav-link" id="tab-villas" data-bs-toggle="tab" data-bs-target="#villas"
                    type="button" role="tab" aria-controls="villas" aria-selected="false">Wille
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button
                    class="nav-link" id="tab-trains" data-bs-toggle="tab" data-bs-target="#trains"
                    type="button" role="tab" aria-controls="trains" aria-selected="false">Pociągi
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button
                    class="nav-link" id="tab-tickets" data-bs-toggle="tab" data-bs-target="#tickets"
                    type="button" role="tab" aria-controls="tickets" aria-selected="false">Bilety lotnicze
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button
                    class="nav-link" id="tab-insurances" data-bs-toggle="tab" data-bs-target="#insurances"
                    type="button" role="tab" aria-controls="insurances" aria-selected="false">Ubezpieczenia
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button
                    class="nav-link" id="tab-others" data-bs-toggle="tab" data-bs-target="#others"
                    type="button" role="tab" aria-controls="others" aria-selected="false">Inne
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button
                    class="nav-link" id="tab-payments" data-bs-toggle="tab" data-bs-target="#payments"
                    type="button" role="tab" aria-controls="payments" aria-selected="false">Wpłaty
                </button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="rooms" role="tabpanel" aria-labelledby="rooms-tab">
                {% include "contract/rooms_tab.html" %}
            </div>
            <div class="tab-pane fade" id="villas" role="tabpanel" aria-labelledby="villas-tab">
                {% include "contract/villas_tab.html" %}
            </div>
            <div class="tab-pane fade" id="trains" role="tabpanel" aria-labelledby="trains-tab">
                {% include "contract/trains_tab.html" %}
            </div>
            <div class="tab-pane fade" id="tickets" role="tabpanel" aria-labelledby="tickets-tab">
                {% include "contract/tickets_tab.html" %}
            </div>
            <div class="tab-pane fade" id="insurances" role="tabpanel" aria-labelledby="insurances-tab">
                {% include "contract/insurances_tab.html" %}
            </div>
            <div class="tab-pane fade" id="others" role="tabpanel" aria-labelledby="others-tab">
                {% include "contract/others_tab.html" %}
            </div>
            <div class="tab-pane fade" id="payments" role="tabpanel" aria-labelledby="payments-tab">
                {% include "contract/payments_tab.html" %}
            </div>
        </div>
    </div>
</div>
<script src={% static "js/tabs.js" %}></script>
{% endblock content %}