{% extends "index.html" %}
{% load static %}
{% block content %}
<div class="mt-2 col-md-12 row">
    <div class="col-xs-12">
        ID kontraktu: <br>
        Cena:<br>
        Cena za serwis:<br>
        Data zawarcia:<br>
        Data wyjazdu:<br>
        Data powrotu:<br>
        Zamawiający:<br>
        Uczestnicy:<br>
    </div>
    <div class="col-xs-12 ml-5">
        {{ object.id }}<br>
        {{ object.get_price_offer }}<br>
        {{ object.price_service }}<br>
        {{ object.date_of_contract|date:"Y-m-d" }}<br>
        {% if not object.get_dates.0 == 0 %}
            {{ object.get_dates.0|date:"Y-m-d" }}
        {% endif %}<br>
        {% if not object.get_dates.1 == 0 %}
            {{ object.get_dates.1|date:"Y-m-d" }}
        {% endif %}<br>
        <a href="/reservation/klienci/{{ object.owner.id }}">{{ object.owner }}</a><br>
        {% for client in object.client.all %}
            <a href="/reservation/klienci/{{ client.id }}">{{ client }}</a><br>
        {% endfor %}
    </div>
</div>
<div class="mt-4">
    <a href="{% url 'contract_room_create' id=object.id %}"
       class="btn btn-info active"
       role="button"
       aria-pressed="true">Rezerwuj pokój
    </a>
    <a href="{% url 'contract_villa_create' id=object.id %}"
       class="btn btn-info active"
       role="button"
       aria-pressed="true">Rezerwuj willę
    </a>
    <a href="{% url 'contract_train_create' id=object.id %}"
       class="btn btn-info active"
       role="button"
       aria-pressed="true">Rezerwuj pociąg
    </a>
    <a href="{% url 'contract_ticket_create' id=object.id %}"
       class="btn btn-info active"
       role="button"
       aria-pressed="true">Dodaj bilet
    </a>
    <a href="{% url 'contract_insurance_create' id=object.id %}"
       class="btn btn-info active"
       role="button"
       aria-pressed="true">Dodaj ubzepieczenie
    </a>
    <a href="{% url 'contract_other_create' id=object.id %}"
       class="btn btn-info active"
       role="button"
       aria-pressed="true">Dodaj inną usługę
    </a>
</div>
<div class="mt-4">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="tab-rooms" data-bs-toggle="tab" data-bs-target="#rooms" type="button"
                    role="tab" aria-controls="rooms" aria-selected="true">Pokoje</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tab-villas" data-bs-toggle="tab" data-bs-target="#villas" type="button"
                    role="tab" aria-controls="villas" aria-selected="false">Wille</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tab-trains" data-bs-toggle="tab" data-bs-target="#trains" type="button"
                    role="tab" aria-controls="trains" aria-selected="false">Pociągi</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tab-tickets" data-bs-toggle="tab" data-bs-target="#tickets" type="button"
                    role="tab" aria-controls="tickets" aria-selected="false">Bilety lotnicze</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tab-insurances" data-bs-toggle="tab" data-bs-target="#insurances" type="button"
                    role="tab" aria-controls="insurances" aria-selected="false">Ubezpieczenia</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tab-others" data-bs-toggle="tab" data-bs-target="#others" type="button"
                    role="tab" aria-controls="others" aria-selected="false">Inne</button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="rooms" role="tabpanel" aria-labelledby="rooms-tab">
            {% include "contract/rooms_tab.html" %}
        </div>
        <div class="tab-pane fade" id="villas" role="tabpanel" aria-labelledby="villas-tab">
            {% include "contract/villas_tab.html" %}
        </div>
        <div class="tab-pane fade" id="trains" role="tabpanel" aria-labelledby="trains-tab">
            {% include "contract/trains_tab.html" %}
        </div>
        <div class="tab-pane fade" id="tickets" role="tabpanel" aria-labelledby="tickets-tab">
            {% include "contract/tickets_tab.html" %}
        </div>
        <div class="tab-pane fade" id="insurances" role="tabpanel" aria-labelledby="insurances-tab">
            {% include "contract/insurances_tab.html" %}
        </div>
        <div class="tab-pane fade" id="others" role="tabpanel" aria-labelledby="others-tab">
            {% include "contract/others_tab.html" %}
        </div>
        <div class="tab-pane fade" id="others" role="tabpanel" aria-labelledby="contact-tab">dane inne</div>
    </div>
</div>
<script src={% static "js/tabs.js" %}></script>
{% endblock content %}