<div class="mt-4">
<table class="table table-striped" id="insurancesTable" >
  <thead>
    <tr>
      <th scope="col">Typ ubezpieczenia</th>
      <th scope="col">Kontrahent</th>
      <th scope="col">Operacje</th>
    </tr>
  </thead>
  <tbody>
  {% for insurance_reservation in object.contractinsurance_set.all %}
  <tr>
    <td>{{ insurance_reservation.get_type_display }}</td>
    <td>{{ insurance_reservation.counterparty }}</td>
    <td>
        <a href="{% url 'contract_insurance_delete' id=object.id pk=insurance_reservation.id %}"
           class="btn btn-secondary active btn-sm"
           role="button"
           aria-pressed="true">usun
        </a>
        <a href="{% url 'contract_insurance_update' id=object.id pk=insurance_reservation.id %}"
           class="btn btn-secondary active btn-sm "
           role="button"
           aria-pressed="true">edytuj
        </a>
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
</div>