<div class="mt-4">
<table class="table table-striped" id="detailTable" >
  <thead>
    <tr>
      <th scope="col">Hotel</th>
      <th scope="col">Pokój</th>
      <th scope="col">Wyżywienie</th>
      <th scope="col">Data od</th>
      <th scope="col">Data do</th>
      <th scope="col">Kontrahent</th>
      <th scope="col">Cena offer</th>
      <th scope="col">Operacje</th>
    </tr>
  </thead>
  <tbody>
  {% for room_reservation in object.contractroom_set.all %}
  <tr>
    <td>{{ room_reservation.room.hotel.name }}</td>
    <td>{{ room_reservation.room.name }}</td>
    <td>{{ room_reservation.meal_plan.short_name }}</td>
    <td>{{ room_reservation.date_from|date:"Y-m-d"}}</td>
    <td>{{ room_reservation.date_to|date:"Y-m-d"}}</td>
    <td>{{ room_reservation.counterparty }}</td>
    <td>{{ room_reservation.price_offer }}</td>
    <td>
        <a href="{% url 'contract_room_delete' id=object.id pk=room_reservation.id %}"
           class="btn btn-secondary active btn-sm"
           role="button"
           aria-pressed="true">usun
        </a>
        <a href="{% url 'contract_room_update' id=object.id pk=room_reservation.id %}"
           class="btn btn-secondary active btn-sm "
           role="button"
           aria-pressed="true">edytuj
        </a>
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
</div>