
<div class="mt-4">
<table class="table table-striped" id="villasTable" >
  <thead>
    <tr>
      <th scope="col">Willa</th>
      <th scope="col">Wyżywienie</th>
      <th scope="col">Data od</th>
      <th scope="col">Data do</th>
      <th scope="col">Kontrahent</th>
      <th scope="col">Operacje</th>
    </tr>
  </thead>
  <tbody>
  {% for villa_reservation in object.contractvilla_set.all %}
  <tr>
    <td>{{ villa_reservation.villa.name }}</td>
    <td>{{ villa_reservation.meal_plan.short_name }}</td>
    <td>{{ villa_reservation.date_from|date:"Y-m-d"}}</td>
    <td>{{ villa_reservation.date_to|date:"Y-m-d"}}</td>
    <td>{{ villa_reservation.counterparty }}</td>
    <td>
        <a href="{% url 'contract_villa_delete' id=object.id pk=villa_reservation.id %}"
           class="btn btn-secondary active btn-sm"
           role="button"
           aria-pressed="true">usun
        </a>
        <a href="{% url 'contract_villa_update' id=object.id pk=villa_reservation.id %}"
           class="btn btn-secondary active btn-sm "
           role="button"
           aria-pressed="true">edytuj
        </a>
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
</div>