{% extends "index.html" %}
{% block content %}
<table class="table table-striped">
<thead>
    <tr>
        {% for column in columns %}
        <th scope="col">{{ column }}</th>
        {% endfor %}
    </tr>
</thead>
<tbody>
    <tr>
        <th scope="row">{{ object.id }}</th>
        <td>
            {{ object.first_name }}
            {{ object.name }}
        </td>
        <td>
            {{ object.last_name }}
            {{ object.continent }}
        </td>
        <td>
            {{ object.date_of_birth|date:"Y-m-d" }}
            {{ object.country }}
        </td>
        <td>
            {{ object.phone_number }}
            {{ object.region }}
        </td>
        <td>
            {{ object.email }}
            <a href="{{ object.link }}">{{ object.link }}</a>
        </td>
        <td>
            <a href="klienci/{{ object.id }}/usun/" class="btn btn-info active" role="button" aria-pressed="true">Usuń</a>
            <span class=></span>
        </td>
    </tr>
</tbody>
</table>
<a href="{% url 'client_create' %}" class="btn btn-info active" role="button" aria-pressed="true">Dodaj klienta</a>

{% endblock %}