{% extends "index.html" %}
{% block content %}
<table class="table table-striped">
<thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Imię</th>
        <th scope="col">Nazwisko</th>
        <th scope="col">Data urodzenia</th>
        <th scope="col">Telefon</th>
        <th scope="col">e-mail</th>
        <th scope="col">Operacje</th>
    </tr>
</thead>
<tbody>
{% for obj in objects %}
    <tr>
        <th scope="row">{{ obj.id }}</th>
        <td>
            {{ obj.first_name }}
        </td>
        <td>
            {{ obj.last_name }}
        </td>
        <td>
            {{ obj.date_of_birth|date:"Y-m-d" }}
        </td>
        <td>
            {{ obj.phone_number }}
        </td>
        <td>
            {{ obj.email }}
        </td>
        <td>
            <a href="/reservation/klienci/{{ obj.id }}/usun" class="btn btn-secondary active btn-sm" role="button" aria-pressed="true">usuń
            </a>
            <a href="{{obj.get_update_url}}" class="btn btn-secondary active btn-sm" role="button" aria-pressed="true">edytuj
            </a>
            <a href="{{obj.get_detail_url}}" class="btn btn-secondary active btn-sm" role="button" aria-pressed="true">szczegóły
            </a>
        </td>
    </tr>
{% endfor %}
</tbody>
</table>
<a href="{% url 'client_create' %}" class="btn btn-info active" role="button" aria-pressed="true">Dodaj nowego klienta</a>

{% endblock %}