{% extends "index.html" %}
{% block content %}
<table class="table table-striped">
<thead>
    <tr>
        {% for column in columns %}
        <th scope="col">{{ column }}</th>
        {% endfor %}
    </tr>
</thead>
<tbody>
{% for object in objects %}
    <tr>
        <th scope="row">{{ object.id }}</th>
        <td>
            {{ object.first_name }}
            {{ object.name }}
        </td>
        <td>
            {{ object.last_name }}
            {{ object.continent }}
        </td>
        <td>
            {{ object.date_of_birth|date:"Y-m-d" }}
            {{ object.country }}
        </td>
        <td>
            {{ object.phone_number }}
            {{ object.region }}
        </td>
        <td>
            {{ object.email }}
        </td>
        <td>
            <a href="{{ object.get_delete_url }}" class="btn btn-secondary active btn-sm" role="button" aria-pressed="true">usuń
            </a>
            <a href="{{object.get_update_url}}" class="btn btn-secondary active btn-sm" role="button" aria-pressed="true">edytuj
            </a>
            <a href="{{object.get_detail_url}}" class="btn btn-secondary active btn-sm" role="button" aria-pressed="true">szczegóły
            </a>
        </td>
    </tr>
{% endfor %}
</tbody>
</table>
<a href="dodaj" class="btn btn-info active" role="button" aria-pressed="true">Dodaj</a>

{% endblock %}