{% extends "index.html" %}
{% block content %}
    <div class="row">
        <div class="col-2">
            Hotel:
        </div>
        <div class="col-10">
            <a href="/reservation/hotele/{{ object.room.hotel.id }}">{{ object.room.hotel }}</a>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            Pokój:
        </div>
        <div class="col-10">
            <a href="/reservation/pokoje/{{ object.room.id }}">{{ object.room }}</a>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            Cena:
        </div>
        <div class="col-10">
            {% if object.price != 0 %}
                {{ object.price }}
{#                {{ object.currency.hash }} ({{ object.currency_conversion }} PLN)#}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            Cena za serwis:
        </div>
        <div class="col-10">
            {{ object.price_service }} PLN
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            Data rezerwacji:
        </div>
        <div class="col-10">
            {{ object.date_of_reservation|date:"Y-m-d" }}
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            Data powrotu:
        </div>
        <div class="col-10">
            {{ object.date_from|date:"Y-m-d" }}
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            Data wylotu:
        </div>
        <div class="col-10">
            {{ object.date_to|date:"Y-m-d" }}
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            Klient:
        </div>
        <div class="col-10">
            {% for client in object.client.all %}
                <a href="/reservation/klienci/{{ client.id }}">{{ client }}</a><br>
            {% endfor %}
        </div>
    </div>

<table class="table table-striped">
<thead>
    <tr>
        {% for column in columns %}
        <th scope="col">{{ column }}</th>
        {% endfor %}
    </tr>
</thead>
<tbody>
    <tr>
        <th scope="row">{{ object.id }}</th>
        <td>
        </td>
        <td>
            {{ object.price }}
        </td>
        <td>
            {{ object.currency.hash }}
        </td>
        <td>
            {{ object.price_service }}
        </td>
        <td>
            {{ object.date_of_reservation }}
        </td>
        <td>
            {{ object.date_from }}
        </td>
        <td>
            {{ object.date_to }}
        </td>
        <td>
{#        DLACZEGO BEZ _SET ?!?!?!??!?!#}
            {% for client in object.client.all %}
               {{ client.first_name }} {{ client.last_name }}<br>
            {% endfor %}
        </td>
        <td>
            <a href="{{ object.get_delete_url}}" class="btn btn-info active" role="button" aria-pressed="true">Usuń</a>
            <a href="{{ object.get_delete_url}}" class="btn btn-info active" role="button" aria-pressed="true">Twórz umowę</a>
        </td>
    </tr>
</tbody>
</table>
<table class="table table-striped">
<thead>
    <tr>
        {% for column in columns2 %}
        <th scope="col">{{ column }}</th>
        {% endfor %}
    </tr>
</thead>
<tbody>
    {% for room in object.roomreservation_set.all %}
    <tr>
        <th scope="row">{{ room.id }}</th>
        <td>
            {{ room.room }}
        </td>
        <td>
            {{ room.room.hotel }}
        </td>
        <td>
            {{ room.price }}
        </td>
        <td>
            {{ room.currency.hash }}
        </td>
        <td>
            {{ room.date_from }}
        </td>
        <td>
            {{ room.date_to }}
        </td>
    </tr>
    {% endfor %}
</tbody>
</table>
<a href="/reservation/pokoj/" class="btn btn-info active" role="button" aria-pressed="true">Dodaj pokój</a>

{% endblock %}