{% extends "index.html" %}
{% block content %}
    <div class="row">
        <div class="col-2">
            Cena:
        </div>
        <div class="col-10">
            {% for price in object.get_prices.items%}
                {{ price.1 }} {{ price.0 }}<br>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            Cena za serwis:
        </div>
        <div class="col-10">
            {{ object.price_service }} PLN
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            Data rezerwacji:
        </div>
        <div class="col-10">
            {{ object.date_of_reservation|date:"Y-m-d" }}
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            Data wyjazdu:
        </div>
        <div class="col-10">
            {{ object.get_dates.0|date:"Y-m-d" }}
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            Data powrotu:
        </div>
        <div class="col-10">
            {{ object.get_dates.1|date:"Y-m-d" }}
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            Zamawiający:
        </div>
        <div class="col-10">
            <a href="/reservation/klienci/{{ object.owner.id }}">{{ object.owner }}</a><br>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            Uczestnicy:
        </div>
        <div class="col-10">
            {% for client in object.client.all %}
                <a href="/reservation/klienci/{{ client.id }}">{{ client }}</a><br>
            {% endfor %}
        </div>
    </div>
<table class="table table-striped">
<thead>
    <tr>
        {% for column in columns2 %}
        <th scope="col">{{ column }}</th>
        {% endfor %}
        <th scope="col">Operacje</th>
    </tr>
</thead>
<tbody>
    {% for room_reservation in object.roomreservation_set.all %}
    <tr>
        <th scope="row">{{ room_reservation.id }}</th>
        <td>
            {{ room_reservation.room }}
        </td>
        <td>
            {{ room_reservation.room.hotel }}
        </td>
        <td>
            {{ room_reservation.room.price }}
{#            {% for price in room_reservation.room.price %}#}
{#                {{ price }}#}
{#            {% endfor %}#}
        </td>
        <td>
            {{ room_reservation.room.currency.hash }}
        </td>
        <td>
            {{ room_reservation.date_from }}
        </td>
        <td>
            {{ room_reservation.date_to }}
        </td>
        <td>
            <a href="{{ room.get_delete_url}}" class="btn btn-info active" role="button" aria-pressed="true">Usuń</a>
        </td>
    </tr>
    {% endfor %}
</tbody>
</table>
    <a href="/reservation/{{ object.id }}/zakwaterowanie" class="btn btn-info active" role="button" aria-pressed="true">Dodaj pokój</a>
    <a href="{{ object.get_delete_url}}" class="btn btn-info active" role="button" aria-pressed="true">Usuń</a>
    <a href="{{ object.id }}/umowa" class="btn btn-info active" role="button" aria-pressed="true">Twórz umowę</a>
{% endblock %}